body{
    color:#13240A;
    font-family:;
}
h1{
    color:#520076;
    font-size: 40px;
}
a{
    color:#520076;
    Border: 1px solid #520076 ;
}
.black-border{
    Border: 3px solid #520076 ;  
    border-top-left-radius: 10px 10px;
}
#green-background{
    background-color: #FFD8CD;
}
ul{
    font-size: 20px;
}